.aggie{
    display: inline;
    color: #500;
}

.mytitles h3{
    margin: 0;
    padding: 0;
}

.abouttext{
    margin-bottom: 0.5em;
}

.homepfp{
    width: 16rem;
    height: 20rem;
    border-radius: 20%;
}